#include <booster/opencl_kernels.h>

namespace booster {

const std::map<std::string, std::vector<unsigned char> > {{variable_name}} =
{
  {% for key, value in maps.items() %}
  {
    "{{key}}",
    {
      {%- for ele in value -%}
      {{ele}},
      {%- endfor -%}
    }
  },  // {{key}}
{% endfor %}
};

}  // namespace feather
